<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.office.pojo.User">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="id_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="depart_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="department" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="position_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="position" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, name, password, id_number, depart_id, department, position_id, position, 
    role, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from office_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from office_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.office.pojo.User">
    insert into office_user (id, username, name, 
      password, id_number, depart_id, 
      department, position_id, position, 
      role, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{departId,jdbcType=INTEGER}, 
      #{department,jdbcType=VARCHAR}, #{positionId,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, 
      #{role,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.office.pojo.User">
    insert into office_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="departId != null">
        depart_id,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="departId != null">
        #{departId,jdbcType=INTEGER},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.office.pojo.User">
    update office_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="departId != null">
        depart_id = #{departId,jdbcType=INTEGER},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.office.pojo.User">
    update office_user
    set username = #{username,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      depart_id = #{departId,jdbcType=INTEGER},
      department = #{department,jdbcType=VARCHAR},
      position_id = #{positionId,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="checkUsername" parameterType="string" resultType="java.lang.Integer">
    select count(1) from office_user
    where username = #{username}
  </select>

  <select id="selectLogin" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from office_user
    where username = #{username}
    and password = #{password}
  </select>

  <select id="checkPassword" parameterType="map" resultType="java.lang.Integer">
    select count(1) from office_user
    where id = #{userId} and password = #{password}
  </select>

  <select id="checkIdNumberAndUserName" parameterType="map" resultType="java.lang.Integer">
    select count(1) from office_user
    where id_number = #{idNum}
    and username = #{username}
  </select>

  <update id="resetPasswordByUserName" parameterType="map">
    update office_user
    set password = #{passwordNew},update_time = now()
    where username = #{username}
  </update>

  <select id="selectUserByUsername" parameterType="string" resultType="com.office.pojo.User">
    select
    <include refid="Base_Column_List" />
    from office_user
    where username = #{username}
  </select>

  <update id="updateByDepartId" parameterType="map" >

    where id = #{id,jdbcType=INTEGER}

    update offcie_user
    <set>
      depart_id = null,
      department = null,
      position_id = null,
      position = null

    </set>
    where depart_id = #{departId}
  </update>


  <select id="selectbyDepart" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1)
    from office_user
    where depart_id = #{departId}
  </select>



  <select id="selectbyPosition" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1)
    from office_user
    where position_id = #{posId}
  </select>
</mapper>